table {
    border: 2px solid black;
    
    width: 80%;
}

td, th {
    border: 5px solid navy;
    padding: 3px;
    text-align: center;
}

th {
    background-color: lightblue;
}

td {
    background-color: white;
}